/* WwxSkin - webfront.css */
.ipsLogin>.logo { 
    background-image: url(./img/wwx.logo.png); 
    height: 128px;
    margin-left: -64px;
    margin-top: -250px;
    width: 128px;
}

/* Logo central and same width like buttons */  
.ipsTabPane>.navigation>.sub {
    padding: 0px 0px 0px 7px;
    width: 42px;
}   

/* Info Widget compact */
.ipsTabPane>.navigation>.widgets>div>.title {
    margin-top: 2px;
}

.ipsTabPane>.navigation>.widgets>div>.icon {
    margin-left: 0px;
}

.ipsTabPane>.navigation>.widgets {
    padding: 0px 0px;
}

/* Fix table.td height to 37px */
.td {
    height: 37px;
}
.ipsCategory>.container .content .visual>.text {
  padding: 2px 6px;
}
/* Fix width for slider */
.ipsCategory>.container .content .visual>.slider {
  max-width: 120px;
}

/* All Buttons has now a min width for better visual vertical alignment */
.ipsCategory>.container .content .visual>.text.colored {
  text-align: center;
  min-width: 29px;
}

.ipsCategory>.container .content .visual>.enum>div {
  text-align: center;
  min-width: 29px;
}

/* Notification Message Textbox */
.ipsNotifications>.ipsNotification>.message {
  background: rgba(255,165,0,0.90);
}

/* Dialog (Popup Box) - a little more central and transparent (not more black) */
.ipsDialog>div {
    background: rgba(26,42,56,0.9);
    top: 5%;
    bottom: 5%;
}

/* Profil-Auswahldialog höher für mehr Werte ohne scrollen */
.ipsDialog.ipsEnumDialog>div {
    top: 10%!important;
 }

.ipsDialog.ipsEnumDialog>div>div.content {
    max-height: 500px;
}

/* Farbpicker nur per Box und nicht Paintbrush Icon */
.ipsCategory>.container .content .link>.colorLink.ipsIconPaintbrush {
    width: unset!important;
}

/* Farbpicker per HTML */
.ipsCategory>.container .content .visual>.color {
    height: unset!important;
}

div[class~="ipsVariableProfile[~HTMLBox]"]:has(div):has(div):has(input) div[class~="extended"] {
    margin: 0!important;
}

div[class~="ipsVariableProfile[~HTMLBox]"]:has(div):has(div):has(input) div[class~="htmlBox"] {
    background: none!important;
    border-style: none!important;
    padding: 0!important;
}

div[class~="ipsVariableProfile[~HTMLBox]"]:has(div):has(div):has(input) div[class~="content"] {
    display: none!important;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:none;
    border: none;
    border-radius: 0;
    width: 66px;
    padding: 3px;
    height: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* app-like scrollbar only for google chrome (pc) */
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
    and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  ::-webkit-scrollbar {
      width: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
    border: solid 3px transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(19,21,27,0.8);
    box-shadow: inset 0 0 10px 10px #0a101a;
    border: solid 1px rgba(255,255,255,0.25);
   }
  ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0,128,255,0.4);
  }
}

/* Table styles (~HTMLBox) */
table.wwx {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%
}

.wwx th, .wwx td {
  vertical-align: middle;
  text-align: left;
  padding: 5px;
}

.wwx td:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.wwx td:not(:first-child):not(:last-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.wwx td:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.wwx tr:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.wwx tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.wwx thead {
  font-weight:bold;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%);
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%);
}

.wwx thead.olive {
  background-color: rgb(160, 160, 0);
}

.wwx thead.blue {
  background-color: rgb(0, 160, 255);
}

.wwx thead.orange {
  background-color: rgb(255, 160, 0);
}

.wwx thead.light {
    background-color: rgb(0, 205, 171);
}

.wwx thead.dark {
    background-color: rgb(36, 98, 91);
}

.wwx thead.lines {
    border: 1px solid color-mix(in srgb, currentcolor 25%, transparent);
}

.tc1  tr > :nth-child(1),
.tc2  tr > :nth-child(2),
.tc3  tr > :nth-child(3),
.tc4  tr > :nth-child(4),
.tc5  tr > :nth-child(5),
.tc6  tr > :nth-child(6),
.tc7  tr > :nth-child(7),
.tc8  tr > :nth-child(8),
.tc9  tr > :nth-child(9),
.tc10 tr > :nth-child(10) { 
    text-align:center;
}

.tr1  tr > :nth-child(1),
.tr2  tr > :nth-child(2),
.tr3  tr > :nth-child(3),
.tr4  tr > :nth-child(4),
.tr5  tr > :nth-child(5),
.tr6  tr > :nth-child(6),
.tr7  tr > :nth-child(7),
.tr8  tr > :nth-child(8),
.tr9  tr > :nth-child(9),
.tr10 tr > :nth-child(10) {
    text-align:right;
}
